/* MainLayout.css */

.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('../../assets/images/Backgrounds/MainBackground.png') no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
}

.nav-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.nav-icon {
    width: 250px;
    height: 250px;
    cursor: pointer;
    transition: transform 0.3s;
}

.nav-icon:hover {
    transform: scale(1.1);
}

.content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Адаптивний стиль для мобільних пристроїв */
@media (max-width: 600px) {
    .nav-icon {
        width: 100px;
        height: 100px;
    }

    .nav-icons {
        flex-direction: column;
    }
}
