.main-layout {
    position: relative;
    height: 100vh;
    background: url('../../assets/images/Backgrounds/MainBackground.png') no-repeat center center fixed;
    background-size: cover;
    box-sizing: border-box;
}

/* Позиціонування верхніх кнопок */
.nav-icons-top {
    position: absolute;
    top: 10px; /* Відступ від верхнього краю */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 200px; /* Ширина контейнера значків */
    z-index: 1001; /* Збільшений z-index для відображення поверх інших вікон */
}

.nav-icon {
    width: 100px; /* Встановлення більшого розміру значків */
    height: 100px; /* Встановлення більшого розміру значків */
    cursor: pointer;
}

/* Позиціонування підвкладок */
.sub-navigation {
    display: flex;
    justify-content: space-around; /* Рівномірний розподіл підвкладок по ширині */
    align-items: center;
    padding: 10px 20px;
    background-color: transparent; /* Прозорий фон */
    color: #fff;
    box-sizing: border-box;
    height: auto; /* Автоматична висота */
    width: 100%;
    z-index: 998;
    position: absolute; /* Абсолютне позиціонування */
    top: 120px; /* Відступ від верхнього краю */
    margin-top: 0px; /* Відсутність відступу від верхнього краю */
}

.sub-nav-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
    flex: 1; /* Розподіл ширини для рівномірного розподілу */
    justify-content: center; /* Центрування тексту */
}

.sub-nav-icon {
    width: auto; /* Автоматична ширина */
    height: 50px; /* Фіксована висота для збереження пропорцій */
    margin-right: 10px;
}

.sub-nav-button:hover .sub-nav-icon {
    transform: scale(1.1);
}

.sub-nav-button span {
    display: inline; /* Відображення назв підвкладок */
    margin-left: 5px;
}

/* Позиціонування нижніх кнопок (основні значки) */
.nav-icons-bottom {
    position: absolute;
    bottom: 10px; /* Відступ від нижнього краю */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 500px; /* Ширина контейнера значків */
    z-index: 1001; /* Збільшений z-index для відображення поверх інших вікон */
}

/* Позиціонування кнопки Battle */
.nav-icon-battle {
    position: absolute;
    bottom: 80px; /* Відступ від нижнього краю, щоб розмістити над нижнім рядом значків */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001; /* Збільшений z-index для відображення поверх інших вікон */
}

/* Стилі для контенту сторінки */
.content {
    position: absolute;
    top: 140px; /* Відстань від верхнього краю до початку контенту */
    bottom: 120px; /* Відстань від нижнього краю до кінця контенту */
    left: 10px;
    right: 10px;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Централізована картинка Window */
.window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Ширина, яка займає основну частину екрану */
    height: auto;
    z-index: 1000; /* Z-index для відображення під значками */
    pointer-events: none; /* Вимкнення подій миші для зображення, щоб значки були клікабельні */
}
