.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden; /* Вимикаємо прокручування */
}

.content {
    flex: 1;
    margin-top: 52px; /* Відступ для TopBar */
    margin-bottom: 65px; /* Відступ для NavigationBar */
    overflow-y: auto;
    padding: 20px;
}

.battle-content {
    margin-top: 52px; /* Відступ для TopBar */
    margin-bottom: 0; /* Без відступу для NavigationBar */
}
