.secondary-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Графітовий фон */
    color: #fff;
    box-sizing: border-box;
    height: 50px; /* Фіксована висота */
}
.nav-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    opacity: 0.7; /* Зменшення прозорості для неактивних вкладок */
}
.nav-button.active {
    opacity: 1; /* Повна прозорість для активної вкладки */
}
.nav-button img {
    width: 30px; /* Встановлення фіксованого розміру для іконок */
    height: 30px;
    margin-bottom: 5px;
}
.nav-button:focus {
    outline: none;
}
.hero-avatar {
    width: 40px;
    height: auto;
    border-radius: 50%;
}
.income-info {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.income-info img {
    width: 20px;
    margin-right: 5px;
}
