.sub-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent; /* Прозорий фон */
    color: #fff;
    box-sizing: border-box;
    height: auto; /* Автоматична висота */
    width: 100%;
    z-index: 998;
    position: absolute; /* Абсолютне позиціонування */
    top: 10px; /* Відступ від верхнього краю */
    margin-top: 0px; /* Відсутність відступу від верхнього краю */
}

.sub-nav-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
    padding: 0;
    text-decoration: none;
    cursor: pointer;
}

.sub-nav-icon {
    width: auto; /* Автоматична ширина */
    height: 50px; /* Фіксована висота для збереження пропорцій */
    margin-right: 10px;
}

.sub-nav-button:hover .sub-nav-icon {
    transform: scale(1.1);
}

.sub-nav-button span {
    display: none;
}
