.sub-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #333; /* Графітовий фон */
    color: #fff;
    box-sizing: border-box;
    height: 50px; /* Фіксована висота */
    position: relative;
    top: 0; /* Відступ від верхнього краю */
    width: 100%;
    z-index: 998;
}

.sub-navigation .sub-nav-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
    cursor: pointer;
}
