.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #333; /* Графітовий фон */
    color: #fff;
    box-sizing: border-box;
}

.user-info,
.wallet-info {
    display: flex;
    align-items: center;
}

.balance-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.coin-icon {
    width: 30px;
    margin-right: 10px;
}

.user-info img,
.wallet-info img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.battle-hp-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hp-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
