.battle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 999;
    height: 150px;
    gap: 50px; /* Збільшує відстань між стовпцями противників */
}

.hero-stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 10px; /* Відстань між стовпцями одного героя */
    gap: 5px; /* Додає відстань між елементами одного стовпця */
}

.hero-stat {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
