.hero-display-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.hero-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hero-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.stats {
    text-align: left;
    margin-right: 20px;
}

.actions {
    text-align: center;
}

.opponent-selection {
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
