.hero-display-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.hero-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; /* Може бути налаштоване відповідно до вашого інтерфейсу */
    margin-bottom: 20px;
}

.hero-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border: 1px solid red; /* Червона рамка */
}

.stats {
    display: flex;
    flex-direction: column;
    border: 1px solid blue; /* Синя рамка */
    padding: 10px;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opponent-selection {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.opponent-selection label {
    margin-right: 10px;
}

.opponent-selection select {
    padding: 5px;
    font-size: 14px;
}

.actions button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333; /* Графітовий фон */
    color: #fff;
    border: none;
    border-radius: 5px;
}

.actions button:hover {
    background-color: #555;
}
