.battle-header {
    display: flex;
    justify-content: space-between; /* Вирівнювання значків для кожного героя */
    align-items: center;
    padding: 10px;
    background-color: #333; /* Графітовий фон */
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    z-index: 999;
    height: 150px; /* Збільшуємо висоту, щоб вміщали всі значки */
}

.hero-stats {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.stats-container {
    display: flex;
}

.stats-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px; /* Відстань між стовпцями одного героя */
}

.hero-stat {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.damage-container {
    position: relative;
}

/* Нові стилі для цифр урону та іконок ефектів */
.damage-number {
    font-size: 24px;
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40; /* Початкова висота */
    animation: floatAndFadeNumber 3s forwards; /* Анімація для переміщення та зникання триватиме 3 секунди */
}

.effect-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px; /* Початкова висота вище цифр урону */
    animation: floatAndFadeIcon 3s forwards; /* Анімація для переміщення та зникання триватиме 3 секунди */
    opacity: 1; /* Прибираємо прозорість */
}

/* Анімація для переміщення та зникання */
@keyframes floatAndFadeNumber {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50px); /* Позиціонування до верху */
    }
}

@keyframes floatAndFadeIcon {
    0% {
        opacity: 1;
        transform: translate(-50%, 40);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -100px); /* Позиціонування до верху */
    }
}

/* Позиціонування контейнерів героїв відносно */
.hero-side, .bot-side {
    position: relative;
}
