.damage-container {
    position: relative;
}

/* Нові стилі для цифр урону та іконок ефектів */
.damage-number {
    font-size: 24px;
    color: red;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    top: 0%; /* Початкова висота - по середині картинки героя */
    animation: floatAndFadeNumber 4s forwards; /* Анімація для переміщення та зникання триватиме 4 секунди */
}

.effect-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    top: 45%; /* Початкова висота вище цифр урону */
    animation: floatAndFadeIcon 4s forwards; /* Анімація для переміщення та зникання триватиме 4 секунди */
    opacity: 1; /* Прибираємо прозорість */
}

/* Анімація для переміщення та зникання цифр урону */
@keyframes floatAndFadeNumber {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50px); /* Позиціонування до верху */
    }
}

/* Анімація для переміщення та зникання іконок ефектів */
@keyframes floatAndFadeIcon {
    0% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -150px); /* Позиціонування до верху */
    }
}

/* Позиціонування контейнерів героїв відносно */
.hero-side, .bot-side {
    position: relative;
}
