.hero-stats-card {
    position: relative;
    width: 200px;
    height: auto;
}

.stats-container {
    display: flex;
}

.stat-column {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.stat {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.stat-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.stat-value {
    font-weight: bold;
    color: #fff;
}
