.hero-stats-card {
    position: relative;
    width: 300px; /* Розширено ширину для кращого відображення */
    height: auto;
    padding: 20px; /* Додано padding для внутрішнього відступу */
    border-radius: 8px; /* Додано заокруглення кутів */
}

.stats-container {
    display: flex;
    justify-content: center; /* Центрування контейнерів колонок */
}

.stat-column {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрування елементів всередині колонки */
    margin-right: 20px; /* Додано відступ між колонками */
}

.stat {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.stat-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.stat-value {
    font-weight: bold;
    color: #fff;
    text-align: center; /* Центрування тексту */
}
