.card {
    background-image: url('../../assets/images/card-background.png'); /* Шлях до вашого зображення */
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    width: 200px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: transparent;
}

.card-img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.card h3 {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.card p {
    font-size: 1rem;
    margin: 4px 0;
}

.card button {
    background-color: orange;
    border: none;
    padding: 8px 16px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 1rem;
}

.card button.locked {
    background-color: gray;
    cursor: not-allowed;
}

.card button.no-balance {
    background-color: lightgray;
    cursor: not-allowed;
}

.card .prerequisites {
    font-size: 0.8rem;
    color: red;
}

.card .prerequisites p {
    margin: 0;
}

.card img.lock-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
