.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px; /* Відстань між картками */
    max-height: 100vh; /* Задаємо максимальну висоту, щоб обмежити область прокрутки */
    overflow-y: auto; /* Додаємо вертикальну прокрутку */
    padding: 16px; /* Додаємо відступи навколо */
    box-sizing: border-box;
}

.card-container {
    flex: 1 1 calc(50% - 16px); /* По 2 картки в ряд */
    max-width: calc(50% - 16px); /* Максимальна ширина картки */
    box-sizing: border-box;
}
