/* Загальні стилі для всіх карток */
.card {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 8px;
    width: 150px; /* Встановлюємо ширину картки */
    height: 150px; /* Встановлюємо висоту картки */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: transparent; /* Фоновий колір картки прозорий */
    box-sizing: border-box; /* Включаємо відступи та бордюри в загальну ширину та висоту */
    position: relative; /* Додаємо відносне позиціонування для батьківського елемента */
    overflow: hidden; /* Запобігає виходу елементів за межі картки */
}

.card-header {
    position: absolute;
    top: 5px; /* Відступ зверху */
    width: 100%;
    text-align: center;
}

    .card-header h3 {
        font-size: 0.7rem; /* Зменшуємо розмір шрифту для заголовка */
        margin: 3px 0; /* Відступи зверху та знизу */
        color: white;
    }

    .card-header p {
        font-size: 0.5rem; /* Зменшуємо розмір шрифту для рівня */
        margin: 2px 0; /* Відступи зверху та знизу */
        color: white;
    }

.card-img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-img {
    width: 50%; /* Встановлює ширину зображення на 50% від ширини картки */
    height: auto; /* Автоматична висота зображення для збереження пропорцій */
}

.card-prerequisites {
    position: absolute;
    top: 60%; /* Розташування нижче зображення */
    width: 100%;
    text-align: center;
    font-size: 0.6rem;
    color: red;
}

    .card-prerequisites p {
        margin: 0;
        color: white;
    }

.card-upgrade-button {
    position: absolute;
    bottom: 5px; /* Відступ від нижнього краю */
    left: 50%;
    transform: translateX(-50%);
}
