.upgrade-button, .no-balance {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Встановлюємо ширину кнопки */
    height: 40px; /* Встановлюємо висоту кнопки */
}

    .upgrade-button img, .no-balance img {
        width: 100%;
        height: 100%;
        background: transparent; /* Прозорий фон */
    }
