.upgrade-button, .no-balance-button, .locked-button {
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .upgrade-button img, .no-balance-button img, .locked-button img {
        width: 40px;
        height: 40px;
    }

.no-balance-button {
    filter: grayscale(100%);
}
