.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    width: calc(100% - 20px); /* Adjusted width to consider left and right padding */
    z-index: 1000;
    margin-left: 10px; /* Add left margin */
    margin-right: 10px; /* Add right margin */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.level {
    display: flex;
    align-items: center;
}

.level img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.wallet-icon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
