.app-container {
    text-align: center;
    padding-top: 60px; /* Відступ для верхньої панелі */
    padding-bottom: 60px; /* Відступ для нижньої панелі */
}

.balance {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 1.5em;
    color: #444;
}

.balance-icon {
    margin-right: 5px;
}

.nav-bar {
    display: none; /* Приховуємо стару навігаційну панель */
}